<div class="container">
    <div class="card">
  <div class="card-body">
    <form>
  <div class="form-group">
    <label for="titleInput">Post Title</label>
    <input type="text" class="form-control" id="titleInput" aria-describedby="titlepost" placeholder="Add a title!">
    <small id="" class="form-text text-muted">Gnarly dude. . .</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Post</label>
    <input type="text" class="form-control" id="bodyInput" placeholder="Which spots do you recommend?">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
</div>