<br>
<div class="container">
     {{#each objectArray}}
        <div class="card" style="width: auto;">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <p class="card-text">{{body}}</p>
                <p class="card-subtitle mb-2 text-muted">{{user}}</p>
            </div>
        </div>
    {{/each}}
</div>