<br>
<div class="container">
     {{#each objectArray}}
        <div class="card" style="width: auto;">
            <div class="card-body">
                {{!-- <img src ="{{User.user_profile_pic}}" class="card-link"> --}}
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{body}}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{user}}</h6>
            </div>
        </div>
     {{/each}}
</div>