<br>
<div class="container">
     {{#each objectArray}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5><br>
                <p class="card-text">{{body}}</p><br>
                <h6 class="card-subtitle mb-2 text-muted">Posted by: {{user}}</h6>
            </div>
        </div>
    {{/each}}
</div>