<nav class="navbar-expand-lg navbar-light bg-blue">
    <div class="container">
        <div class="row">
            <!-- camera -->
            <div class="col">
                <a class="navbar-brand" href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Logo -->
            <div class="col d-flex justify-content-center">
                <a class="navbar-brand" href="#">
                    <h2 style="font-family: 'Permanent Marker', cursive;"> Pipe Dreams</h2>
                </a>
            </div>
            <!-- dropdown -->
            <div class="col  d-flex flex-row-reverse">
                <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<br>

<!-- footer -->
<div class="container">
    <hr>
    <div class="text-center">
        <p>&copy; Copyright 2019 Matt Urian, John Phillips, Matt Musil, Drew Lauck</p>
    </div>
</div>